.cover__link {
  width: 100%;
  height: 100%;
  display: block;
  color: inherit;
  text-decoration: none;
  text-align: center;
  background-color: rgba(42, 44, 47, 0.2);
  transition: background-color 0.1s linear;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover__link:hover {
  background-color: rgba(42, 44, 47, 0.8);
}
