.page {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: normal;
  background: #292c2f;
  color: white;
  padding: 0 48px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (max-width: 768px) {
  .page {
    padding: 0 20px;
  }
}

@media screen and (max-width: 425px) {
  .page {
    padding: 0 15px;
  }
}
