.page {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: normal;
  background: #2a2c2f;
  color: white;
  padding: 0 48px;
}

@media screen and (max-width: 900px) {
  .page {
    padding: 0 24px;
  }
}

@media screen and (max-width: 690px) {
  .page {
    padding: 0 16px;
  }
}
