.photo-grid__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 16px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .photo-grid__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .photo-grid__list {
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  }
}
