.hero__title {
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  text-align: center;
  margin: 0;
  line-height: 1.04;
}

@media screen and (max-width: 750px) {
  .hero__title {
    font-size: 60px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 500px) {
  .hero__title {
    line-height: 1.1;
    font-size: 40px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
