.places__list-title {
  display: inline-block;
  font-weight: 900;
  font-size: 72px;
  margin: 0;
  justify-self: start;
}

@media screen and (max-width: 425px) {
  .places__list-title {
    font-size: 32px;
  }
}
