.hero__subtitle {
  max-width: 640px;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 64px;
  line-height: 1.2;
}

@media screen and (max-width: 1024px) {
  .hero__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 750px) {
  .hero__subtitle {
    max-width: 340px;
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 500px) {
  .hero__subtitle {
    line-height: 1.25;
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
