.footer__author {
  margin: 0;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .footer__author {
    align-self: flex-end;
  }
}

@media screen and (max-width: 425px) {
  .footer__author {
    align-self: unset;
  }
}
