.hero {
  max-width: var(--small-container);
  margin: 0 auto;
  padding-bottom: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 690px) {
  .hero {
    padding-bottom: 64px;
  }
}
