.logo__img {
  width: 176px;
  transition: opacity 0.2s linear;
}

.logo__img:hover {
  transition: opacity 0.2s linear;
  opacity: 0.6;
}

@media screen and (max-width: 690px) {
  .logo__img {
    width: 142px;
  }
}
