.places__list-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
  justify-items: center;
  row-gap: 48px;
  column-gap: 40px;
}

@media screen and (max-width: 768px) {
  .places__list-card {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 425px) {
  .places__list-card {
    row-gap: 32px;
  }
}
