.intro__title {
  max-width: fit-content;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  margin: 0;
}

@media screen and (max-width: 460px) {
  .intro__title {
    font-size: 32px;
  }
}
